@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: "Mulish", Sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mulish", Sans-serif;
}
.title .shap {
    width: 80px;
    margin: 18px auto;
    height: 3px;
    background: black;
    display: block;
    position: relative;
}
.title .shap::before {
    content: "";
    position: absolute;
    left: -5px;
    right: 0;
    bottom: -5px;
    background: #6863af;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    z-index: 2;
    animation:moveleftRight 5s linear infinite; 
}
button, .button{
  background-color:#6863af;
}
button:hover, .button:hover{
  transform:scale(1.1)
}
.title h2 i {
    background: #6863af;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* styles/Header.module.css */

.icons a {
  margin-left: 20px;
  color: #6863af; /* Change the color */
  cursor: pointer;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: black; /* Color on hover */
}
@media (max-width: 767px){
  button .button{
    font-size:12px;
  }
}
@keyframes moveleftRight{
0% {
    transform: translateX(0px);
}
50% {
    transform: translateX(80px);
}
100% {
    transform: translateX(0px);
}
}
.infinite{
  display:grid;
  grid-auto-flow:column;
  grid-auto-columns: 30rem;
  justify-content:stretch;
  animation: animate 10s linear infinite;
}
@keyframes animate{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
  
}
